.Header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    background-color: #2a4d69;
    color: white;
    div {
        button {
            margin: 0.5em 0.5rem 0.5rem 0;
            padding: 0.5em;
            border : 1px solid black;
            color: black;
            font-size: 1rem;
            outline: none;
            border-radius: 5px;
            font-family: inherit;
            font-weight: 500;
            transition-property: all;
            transition-duration: 0.2s;
            transition-timing-function: ease-in-out;
            cursor: pointer;
            &:hover{
                background-color: #2a4d69;
                color: white;
                border-color: white;
            }  
            &:disabled{
                background-color : 	rgba(128, 128, 128, 0.8);
                color: rgba(255, 255, 255, 0.5);
                pointer-events: none;
                cursor: not-allowed;
            }
        }
    }
    
}

@media (min-width: 320px) and (max-width: 480px) {
  
    .Header{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
     }
    
  }